<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.grofiesta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvvmTask">
        <activity
            android:name=".ui.main.view.product.SearchProductActivity"
            />
        <activity
            android:name=".ui.main.view.FeedbackFromActivity"
            />
        <activity
            android:name=".ui.main.view.address.AddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.address.ManageAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.product.ShopByGroAndFiestaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.product.ProductDropDownListing"
            android:exported="false" />
        <activity
            android:name=".ui.main.view.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".ui.main.view.MainActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".ui.main.view.home.HomeActivity" />
        <activity android:name=".ui.main.view.login.LoginActivity" />
        <activity android:name=".ui.main.view.login.SignupActivity" />
        <activity android:name=".ui.main.view.login.OTPActivity" />
        <activity android:name=".ui.main.view.product.ProductListActivity" />
        <activity android:name=".ui.main.view.product.ProductDetailActivity" />
        <activity android:name=".ui.main.view.cart.MyCartActivity" />
        <activity android:name=".ui.main.view.order.MyOrderListActivity" />
        <activity android:name=".ui.main.view.profile.ProfileActivity" />
        <activity android:name=".ui.main.view.landing.LandingActivity" />
        <activity android:name=".ui.main.view.WebViewActivity" />
        <activity android:name=".ui.main.view.cart.CheckoutActivity"/>
        <activity android:name=".ui.main.view.wallet.WalletActivity" />
        <activity android:name=".ui.main.view.offers.OffersActivity" />
        <activity android:name=".ui.main.view.product.WishListActivity" />
        <activity android:name=".ui.main.view.product.ServiceActivity" />
        <activity android:name=".ui.main.view.product.ImagePreviewActivity" />
        <activity android:name=".TermsConditionsActivity" />
        <activity android:name=".ui.main.view.ContactUsActivity"/>
        <activity android:name=".AboutUsActivity"/>
        <activity android:name=".ui.main.view.deliveryBoy.DeliveryBoyListActivity"/>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_uNY256Lq96yKVU"
            />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>